/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
  font-family: "Lato", sans-serif;
  font-size: $basic-font-size;
  font-style: normal;
  font-weight: 400;
  line-height: $basic-line-height;
  color: $basic-black;
}
