/* здесь используйте глобальные переменные */
/* screen variables */
$tablet-width: 768px;
$desktop-width: 1440px;

/* distances */
$mobile-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 110px;

$mobile-container-padding: 0 $mobile-padding;
$tablet-container-padding: 0 $tablet-padding;
$desktop-container-padding: 0 $desktop-padding;


$tablet-form-padding: 40px;

/* fonts */
$basic-font-size: 14px;
$basic-line-height: 18px;

$basic-font-family: "Lato", "Arial", sans-serif;
$secondary-font-family: "Oswald", "Lucida Sans Unicode", sans-serif;

/* colors */
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$basic-lighter-grey: #ebebeb;
$basic-darker-grey: #eaeaea;
$basic-additional-grey: #e6e6e6;
$input-border-grey: #e7e7e7;
$secondary-grey-lighter: #d3d3d3;
$secondary-grey: #d9d9d9;
$secondary-grey-darker: #cdcdcd;
$special-grey: #666666;
$basic-black: #000000;
$text-secondary-lighter-color: #111111;
$text-secondary-darker-color: #222222;
$text-secondary-color: #444444;
$company-primary-color: #68b738;
$company-primary-color-darker: #5eaa2f;
$company-primary-color-more-dark: #3c6920;

$error-color: #ff8282;
$radio-button-hover: #bababa;
