/* здесь используйте глобальные переменные */
$basic-font-size: 14px;
$basic-line-height: 18px;

$basic-font-family: "Lato", "Arial", sans-serif;
$secondary-font-family: "Oswald", "Lucida Sans Unicode", sans-serif;

$basic-white: #ffffff;
$basic-black: #000000;
$text-secondary-darker-color: #222222;
$text-secondary-color: #444444;
$company-primary-color: #68b738;
