/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";

/* BLOCKS */
/* общие блоки */
@import "./blocks/visually-hidden.scss";
@import "./blocks/title.scss";
@import "./blocks/link.scss";
@import "./blocks/button.scss";
@import "./blocks/list.scss";

@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/main-navigation.scss";
@import "./blocks/main-container.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social-list.scss";


/* index */
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/product-operation.scss";
@import "./blocks/operation-example.scss";
@import "./blocks/contacts.scss";

/* catalog */
@import "./blocks/product-catalog.scss";
@import "./blocks/additional-products.scss";

/* form */
@import "./blocks/program-selection.scss";
@import "./blocks/input-list.scss";
// @import "./blocks/radio-list.scss";
// @import "./blocks/checkbox-list.scss";

/* коммент -заметка что еще нужно сделать:
1) убрать запятую и "block-no-empty": null  в файле .stylelintrc */
