.button {
  color: $basic-white;
  text-align: center;
  font-family: $secondary-font-family;
  text-transform: uppercase;

  border: none;
  text-decoration: none;
  background-color: $company-primary-color;
}
