.checkbox-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.checkbox-list__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkbox-list__checkbox-cell {
  appearance: none;
  min-width: 26px;
  min-height: 26px;
  margin: 0;

  background-color: #ffffff;
  outline: 2px solid $secondary-grey-darker;

  &:checked {
    background-image: url("../../images/icons/stack.svg#icon-tick");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .checkbox-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 60px;
  }

  .checkbox-list__checkbox-cell {
    min-width: 36px;
    min-height: 36px;
  }
}

@media (min-width: $tablet-width) {
  .checkbox-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}
