.contacts {
  @include container-item;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 24px 0;
}

.contacts__title {
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  margin: 0;
}

.contacts__adress {
  color: $text-secondary-color;
  line-height: 20px;

  margin: 0;
}

//Карта
.contacts-map {
  align-self: center;
}

.contacts__map-wrapper {
  position: relative;
  width: 100vw;
  height: 362px;
}

.contacts__map-image {
  display: block;
  width: 100vw;

  object-fit: cover;
}

.contacts__map-frame {
  display: block;
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100%;

  border: none;
}

.contacts__map-pin {
  display: block;
  position: absolute;
  width: 57px;
  height: 53px;

  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts__map-pin-image {
  @include image-stabilization;
}


@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 58px 40px;
    align-items: center;
  }

  .contacts__title {
    max-width: 160px;

    color: $text-secondary-lighter-color;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__adress {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 21px;

    justify-self: end;
    max-width: 157px;

    font-size: 16px;
    text-align: end;
  }

  .contacts__map-wrapper {
    height: 400px;
  }

  .contacts__map-pin {
    width: 113px;
    height: 106px;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    overflow: scroll;
  }

  .contacts__wrapper {
    position: absolute;
    width: 565px;
    top: 95px;
    left: 110px;
    padding: 62px 80px;

    z-index: 1;

    background-color: $basic-white;
  }

  .contacts__adress {
    gap: 19px;

    align-items: start;
    text-align: start;
  }
}
