.header {
  background-color: #663399;
  color: #ffffff;
  padding: 10px 15px;
}

.header__logo-wrapper {

}

.header__company-logo-link {

}

.header__company-logo {

}

.header__company-logo--image {

}

.header__company-logo--text {

}

