.header {
  padding: $mobile-container-padding;
  padding-top: 12px;
  padding-bottom: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .header {
    padding: $tablet-container-padding;
    padding-top: 25px;
  }

  .header__company-logo-text {
    margin-left: 13px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: $desktop-container-padding;
    padding-top: 55px;
  }

  .header__company-logo-text {
    margin-left: 14px;
  }
}
