.input-list {

}

.input-list__input {

}

.input-list__input-label {

}

.input-list__input-field {
  color: $text-secondary-color;
  font-family: $secondary-font-family;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
}

// данные кота
.input-list__input--patient-name {

}

.input-list__input--patient-weight {

}

.input-list__input--patient-age {

}

// данные владельца
.input-list__input--owner-name {

}

.input-list__input--owner-phone {

}
