.link {
  color: $basic-black;
  font-family: $secondary-font-family;
  text-transform: uppercase;

  border: none;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
