.main-footer {
  @include container-item(0);

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 20px 0;

  @include background-overlay($basic-grey);
}

.main-footer__logo-wrapper,
.main-footer__social-list {
  @include footer-item(center, 1px solid $secondary-grey);
}

.main-footer__copyright {
  @include footer-item(space-between, none);

  align-items: center;

  color: $text-secondary-color;
  font-family: $basic-font-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;

  &::after {
    @include pseudo-element;

    width: 27px;
    height: 34px;

    background-color: $special-grey;
    mask: url("../../images/logo-html-academy.svg") no-repeat center;
  }
}

.main-footer__copyright-name {
  color: $text-secondary-color;
  font-size: 16px;
  line-height: 20px;
}


@media (min-width: $tablet-width) {
  .main-footer > * {
    border-bottom: none;
    width: auto;
  }

  .main-footer {
    flex-direction: row;
    padding: 55px 0;

    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo-wrapper {
    display: block;
  }

  .main-footer__logo {
    width: 128px;
    min-height: 24px;
  }

  .main-footer__copyright {
    gap: 23px;
  }
}
