.main-footer {
  @include container-item(0);

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 0;

  padding: 20px 0;

  @include background-overlay($basic-grey);
}

.main-footer__logo-wrapper,
.main-footer__social-list {
  @include footer-item(center, 1px solid $secondary-grey);
  height: min-content;
}

.main-footer__copyright {
  @include footer-item(space-between, none);

  gap: 23px;
  align-items: center;

  color: $text-secondary-color;
  font-family: $basic-font-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;

  &::after {
    @include pseudo-element;

    min-width: 27px;
    height: 34px;

    background-color: $special-grey;
    mask: url("../../images/logo-html-academy.svg") no-repeat center;
  }

  &:hover {
    opacity: 1;

    &::after {
      background-color: $company-primary-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__copyright-name {
  color: $text-secondary-color;
  font-size: 16px;
  line-height: 20px;
}


@media (min-width: $tablet-width) {
  .main-footer > * {
    border-bottom: none;
    width: auto;
    padding: 10px;
    margin: 0 -10px;
  }

  .main-footer {
    padding: 20px 0;
    min-height: 147px;
    flex-direction: row;
    box-sizing: border-box;

    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo-wrapper {
    display: block;
  }

  .main-footer__logo {
    width: 128px;
    min-height: 24px;
  }

  .main-footer__social-list {
    margin-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    min-height: 169px;
  }

  .main-footer > * {
    margin: 0 -10px;
    margin-top: -32px;
  }

  .main-footer__social-list {
    margin-left: 30px;
  }
}
