.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: column;
  text-align: center;

  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 1;
  background-color: $basic-white;
}

.main-navigation__list-item {
  min-height: 65px;
  padding-bottom: 24px;
  box-sizing: border-box;

  &::before {
    @include pseudo-element;
    width: 100vw;
    height: 1px;
    margin-bottom: 24px;

    background-color: $basic-additional-grey;
  }
}

.main-navigation__list--closed {
  position: absolute;
  transform: scale(0);
}

.main-navigation__list-link {
  display: block;
  padding-left: 40px;
  padding-right: 40px;

  font-size: 20px;
  line-height: 20px;

  &:focus {
    @include box-shadow;
    @include focus-outline($company-primary-color-more-dark);

    padding: 5px 10px;
    margin: -5px -10px;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__list {
    position: static;
    display: flex;
    width: auto;
    margin: 15px 7px 0 60px;

    flex-direction: row;
    justify-content: end;
    gap: 33px;

    transform: translateX(0);
    z-index: 0;
    background-color: transparent;
  }

  .main-navigation__list-item {
    padding: 0;
    min-height: 35px;
    max-width: 30ch;

    &::before {
      position: fixed;
      display: none;
    }
  }

  .main-navigation__list--mobile-opened {
    position: relative;
  }

  .main-navigation__list-link {
    margin: 0;
    padding: 0;
    padding-bottom: 6px;

    font-size: 18px;
    line-height: 24px;
  }

  .main-navigation__list-link--current {
    border-bottom: 2px solid $company-primary-color;
  }
}


@media (min-width: $desktop-width) {
  .main-navigation__list {
    max-width: 40vw;
  }

  .main-navigation__list-link {
    position: relative;

    font-size: 20px;
    line-height: normal;
  }

  .main-navigation__list--dark-background .main-navigation__list-link {
    color: $basic-white;
  }

  .main-navigation__list--dark-background .main-navigation__list-link--current {
    border-bottom: 2px solid $basic-white;
  }
}
