.operation-example {

}

//Текст примера работы корма
.operation-example__title {
  line-height: 40px;
}

.operation-example__text {
  color: $text-secondary-color;
}

.operation-example__list {

}

.operation-example__item {
  // background-image: url("../../images/icons/stack.svg#icon-frame");
  // background-color: red;
}

.operation-example__item--weight {

}

.operation-example__item--time {

}

.operation-example__item--total {

}

.operation-example__item-number {
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.operation-example__item-number-subtitle {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: $text-secondary-color;
}

.operation-example__item-total {
  font-family: $secondary-font-family;
  line-height: 20px;
  text-transform: uppercase;
}

.operation-example__item-total--title {

}

.operation-example__item-total--number {

}


//Слайдер
.operation-example__slider {

}

.operation-example__slider-image {

}

.operation-example__slider-image--before {

}

.operation-example__slider-image--after {

}

.operation-example__slider-button {

}
