.operation-example {
  // padding: $mobile-container-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include background-overlay($basic-darker-grey);
}

//Текст примера работы корма
.operation-example__title {
  margin-top: 25px;
  margin-bottom: 40px;
  align-self: self-start;

  line-height: 40px;
}

.operation-example__text {
  margin: 0;
  margin-bottom: 20px;

  color: $text-secondary-color;
}

.operation-example__list-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.operation-example__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-around;
}

.operation-example__item {
  position: relative;
  min-height: 70px;
  width: 124px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    @include pseudo-element;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 124px;
    height: 56px;

    background: url("../../images/icons/stack.svg#icon-frame") no-repeat center;
    background-size: 100%;
  }
}

.operation-example__item-number {
  margin-bottom: 8px;
  margin-top: 16px;

  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

}

.operation-example__item-number-subtitle {
  display: block;
  max-width: 75px;

  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: lowercase;
  color: $text-secondary-color;
}

.operation-example__list-total {
  font-family: $secondary-font-family;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}


//Слайдер
.operation-example__slider {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.operation-example__slider-picture {
  width: 100%;
  height: auto;
}

.operation-example__slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.operation-example__slider-button {
  position: absolute;
  width: 4px;
  height: 100%;
  left: 50%;
  transform: translate(-50%);

  padding: 0;
  border: none;
  background-color: $special-grey;
  border-radius: 2px;

  &::after {
    @include pseudo-element;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 36px;
    height: 36px;

    background-color: $basic-white;
    border-radius: 50%;
    border: 2px solid $special-grey;

    background-image: url("../../images/icons/stack.svg#icon-slider-pointers");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 18px;
  }
}

@media (min-width: $tablet-width) {
  .operation-example {
    @include background-overlay(transparent);
  }

  .operation-example__title {
    margin: 45px 0 60px 0;

    font-size: 60px;
    line-height: 60px;
  }

  .operation-example__text {
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
  }

  .operation-example__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

    margin-bottom: 100px;
  }

  .operation-example__item {
    min-height: 77px;
    width: 162px;

    &::after {
      width: 162px;
      height: 72px;
    }
  }

  .operation-example__item-number {
    font-size: 30px;
    line-height: 37px;

    margin-bottom: 11px;
  }

  .operation-example__item-number-subtitle {
    font-size: 14px;
    line-height: 14px;
  }

  .operation-example__list-total {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 9px;

    align-self: start;
    margin: 13px 0 0 auto;

    font-size: 20px;
  }
}
