.product-operation {
  @include container-item(0);

  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
}

.product-operation__title {
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 40px;
}

.product-operation__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-operation__item {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;

  color: $text-secondary-color;

  &::before {
    @include pseudo-element;

    min-width: 60px;
    height: 60px;

    background: $company-primary-color var(--background-item) no-repeat 50% 50%;
    background-size: 30px 30px;
  }
}

.product-operation__item--useful {
  --background-item: url("../../images/icons/stack.svg#icon-leaf");
}

.product-operation__item--form {
  --background-item: url("../../images/icons/stack.svg#icon-bubles");
}

.product-operation__item--ration {
  --background-item: url("../../images/icons/stack.svg#icon-cutlery");
}

.product-operation__item--changes {
  --background-item: url("../../images/icons/stack.svg#icon-clock");
}

.product-operation__item-text {
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .product-operation {
    margin-bottom: 47px;
  }

  .product-operation__list {
    display: grid;
    max-width: 1300px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 248px));
    grid-template-rows: repeat(auto-fill, minmax(280px, auto));
    gap: 38px;
    margin-right: 75px;
    justify-content: space-between;

    counter-reset: section;
  }

  .product-operation__item {
    position: relative;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    row-gap: 30px;

    min-height: 280px;

    &::before {
      @include empty-content;
      margin-top: 41px;

      width: 80px;
      height: 80px;
    }

    &::after {
      counter-increment: section;
      content: counters(section, "");
      position: absolute;
      grid-column: 2;
      justify-self: end;
      z-index: -1;

      color: $basic-grey;
      font-family: $secondary-font-family;
      font-size: 280px;
      line-height: 280px;
    }
  }

  .product-operation__item:first-of-type {
    &::after {
      justify-self: center;
    }
  }

  .product-operation__title {
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
  }

  .product-operation__item-text {
    margin-top: 0;
    grid-column: span 2;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .product-operation {
    margin-bottom: 70px;
  }

  .product-operation__list {
    grid-template-columns: repeat(auto-fill, minmax(230px, 245px));
    margin-right: 0;
  }

  .product-operation__item {
    &::before {
      @include empty-content;
      margin-top: 42px;
      margin-left: 1px;
    }
  }
}
