.product-catalog {
  @include container-item;
}

.product-catalog__title {
  padding-top: 27px;
  padding-bottom: 41px;
  margin: 0;

  border-top: 1px solid $secondary-grey;
  border-bottom: 1px solid $basic-lighter-grey;
}

.product-catalog__list {
  display: flex;
  flex-direction: column;
}

.product-catalog__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding-top: 20px;
  padding-bottom: 25px;

  border-bottom: 1px solid $basic-lighter-grey;
}

// изображение карточки
.product-catalog__card-image-link {
  grid-row: 1/3;
}

// название карточки
.product-catalog__card-title-link {
  align-self: start;
}

.product-catalog__card-title {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  color: $text-secondary-darker-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

// описание карточки
.product-catalog__card-properties {
  display: flex;
  flex-direction: column;

  color: $text-secondary-color;
  font-size: 12px;
  line-height: 16px;
}

.product-catalog__card-properties-item {
  display: flex;
  justify-content: space-between;
}

// кнопка карточки
.product-catalog__card-button {
  grid-column: 1 / 3;
  margin-top: 13px;

  font-size: 16px;
  line-height: 20px;
}

// карточка "покажи еще"
.product-catalog__additional-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-catalog__additional-card-show-one-more-button {
  width: 30px;
  height: 30px;
  margin-bottom: 26px;

  background-color: transparent;
  border: none;

  &::before {
    @include pseudo-element;
    width: 100%;
    height: 100%;

    background-color: $secondary-grey-lighter;

    mask: url("../../images/icons/stack.svg#icon-plus") no-repeat center;
  }
}

.product-catalog__additional-card-title-link {
  align-self: center;
}

.product-catalog__additional-card-show-more-text {
  color: $text-secondary-color;
  font-size: 12px;
  line-height: 16px;
}

.product-catalog__card-show-more-text {
  color: $text-secondary-color;
  font-size: 12px;
  line-height: 16px;
}

.product-catalog__additional-card-show-more-button {
  width: 100%;
  box-sizing: border-box;
  margin-top: 21px;

  color: $text-secondary-color;
  font-size: 16px;
  line-height: 20px;

  background-color: $basic-grey;
}


@media (min-width: $tablet-width) {
  .product-catalog__title {
    padding-top: 0;
    padding-bottom: 84px;
    margin: 0;

    border: none;

    font-size: 60px;
    line-height: 60px;
  }

  .product-catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }

  .product-catalog__card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 250px;
    padding: 10px 37px 40px 37px;

    @include background-overlay($basic-grey, 100%, 80%, 0);
  }

  .product-catalog__card-image-link {
    margin-bottom: 22px;
  }

  .product-catalog__card-title-link {
    align-self: inherit;
  }

  .product-catalog__card-title {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 135px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .product-catalog__product-name {
    &::after {
      content: ' ';
      white-space: pre;
    }
  }
}
