.program-selection {

}

.program-selection__title {
  font-size: 60px;
  line-height: 60px;
}

.program-selection__subtitle {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.program-selection__form {

}

.program-selection__fieldset {
  border: none;

  color: $text-secondary-color;
  font-family: $secondary-font-family;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
}

.program-selection__fieldset-legend {
  padding: 0;

  color: $basic-black;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.program-selection__fieldset-wrapper {

}

.program-selection__obligatory-caption {
  font-size: 16px;
  line-height: 16px;
}

// textarea
.program-selection__comment {
  font-family: $secondary-font-family;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;

  &::placeholder {
    font-family: $secondary-font-family;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}


// кнопка формы
.program-selection__button {
  font-size: 20px;
  line-height: 26px;
}

// модификаторы формы
// данные кота
.program-selection__fieldset--patient-data {

}


// цель обращения
.program-selection__fieldset--goal {

}


// данные владельца
.program-selection__fieldset--owner-data {

}


// комментарий
.program-selection__fieldset--comment {

}


// дополнительные продукты
.program-selection__fieldset--supplements {

}
