.radio-list {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.radio-list__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.radio-list__button {
  appearance: none;
  min-width: 30px;
  min-height: 30px;
  margin: 0;

  background-color: #ffffff;
  outline: 1px solid $secondary-grey-darker;
  border-radius: 50%;

  &:checked {
    background-image: url("../../images/icons/stack.svg#radiobutton-checked");
    background-repeat: no-repeat;
  }

  &:disabled {
    opacity: 0.3;
    outline: 1px solid $radio-button-hover;
  }

  &:hover {
    outline: 1px solid $radio-button-hover;
  }

  &:focus {
    @include box-shadow;
    outline: 1px solid $company-primary-color-darker;
  }
}

.radio-list__button:disabled + .radio-list__button-description {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .radio-list__button {
    min-width: 40px;
    min-height: 40px;
  }

  .radio-list__item {
    gap: 20px;
  }
}
