.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.social-list__link {
  display: flex;
  width: 28px;
  height: 22px;
  padding: 10px 10px;
  margin: -10px 0;

  justify-content: center;
  align-items: center;

  &::before {
    @include pseudo-element;
    width: 100%;
    height: 100%;

    background-color: $special-grey;

    mask: var(--social-icon) no-repeat center;
    mask-size: 28px 22px;
  }

  &:hover::before {
    background-color: $company-primary-color;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.social-list__item--vk {
  --social-icon: url("../../images/icons/stack.svg#icon-vkontakte");
}

.social-list__item--yt {
  --social-icon: url("../../images/icons/stack.svg#icon-youtube");
}

.social-list__item--tg {
  --social-icon: url("../../images/icons/stack.svg#icon-telegram");
}
